.main
{
	display: flex;
	flex-direction: column;
}
.firstmenu
{
	width: 100px;
	border: solid black 2px;
	background-color: lightgrey;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	position: relative;
	height: 20px;
}
.firstmenu:hover
{
	background-color: lightslategrey;
}
.secondmenu
{
	width: 300px;
	background-color: lightgrey;
	transform: scale(0, 0);
	
	
	
}

div > div > div > div
{
	width: 100px;
	border: solid black 2px;
	border-radius: 5px;
}

.firstmenu:hover .secondmenu
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: -10%;
	left: 100%;
	z-index: 1;
	transform: scale(1, 1);
	transition: 1000ms;
}





@media all and (min-width: 750px)
{
	.main
{
	display: flex;
	flex-direction: row;
}
.secondmenu
{
	width: 100px;
	opacity: 0;
	transform: none;
}
.firstmenu:hover .secondmenu
{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: -2%;
	z-index: 1;
	transform: none;
	opacity: 1;
	transition: 1000ms;

	

}
.firstmenu:hover
{
	background-color: lightslategrey;
	
}
}




