div
{
	padding: 2.5em;
	background-image: url(../image/l-b.png), url(../image/l-t.png), url(..//image/r-t.png), url(..//image/r-b.png), 
	url(..//image/t.png), url(..//image/r.png), url(..//image/b.png), url(..//image/l.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
	background-position: bottom left, top left, top right, bottom right, top, right, bottom, left;
	
}