.main 
{
	padding: 10px;
	border: 2px outset silver;
}

.navigation
{
	width: 15em;
	background-color: lightgrey;
	float: left;
	
}
.article1
{
	background-color: grey;
	margin-bottom: 2px;
	margin-top: 0px;
	overflow: auto;
	
	
}
.article2
{
	background-color: grey;
	overflow: auto;
	margin-bottom: 2px;
}

footer
{
	background-color: lightgrey;
	clear: both;	
}